.box {
  padding: 100px 0px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.buttonsList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.motto {
  width: 60%;
  text-align: center;
}
