.common {
  display: block;

  padding: 8px 40px;
  background-color: var(--faded-glass);
  backdrop-filter: blur(var(--blur-glass));

  text-transform: uppercase;

  border: 1px solid transparent;
  border-radius: 16px;

  &:hover {
    border-color: var(--foreground);
  }
}
