.stripe {
  position: fixed;
  left: 5%;
  top: 4px;
  width: 90%;
  min-width: 360px;

  background-color: var(--glass);
  backdrop-filter: blur(var(--blur-glass));

  padding: 8px 20px;
  border-radius: var(--rounded);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stripe .logo {
  position: relative;
  width: 120px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  .stripe {
    top: 12px;

    padding: 12px 36px;
  }
}
