.stripe {
  position: fixed;
  left: 5%;
  top: 4px;
  width: 90%;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);

  padding: 8px 20px;
  border-radius: 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  .stripe {
    top: 12px;

    padding: 12px 36px;
  }
}
