.stripe {
  position: fixed;
  left: 0;
  top: 0;
  height: 80px;
  width: 100%;

  backdrop-filter: blur(8px);

  padding: 16px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
