@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #111827;
  --foreground: #fafaf9;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

* {
  transition: 0.2s ease-in;
  transition-property: border-color;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.homepage {
  min-height: 100vh;

  background-image: linear-gradient(to bottom, #072e71dc, #61718c63 40%),
    url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 24px;
}
