.homepage {
  min-height: 100vh;

  background-image: linear-gradient(
      to bottom,
      var(--colored-glass),
      var(--faded-glass) 60%
    ),
    url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  font-size: 24px;
}
